@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  transition: all 0.3s;
}

@layer components {
  .navbar-ul {
    @apply flex flex-row;
  }
  .navbar-li {
    @apply flex flex-row items-center px-7 py-1 bg-white border-[1px] border-slate-200 rounded-[4px];
  }
  .btn-nav {
    @apply bg-white border-2 border-blue-400 text-slate-800 py-2 px-3 w-[110px] justify-around m-1;
  }
  .navbar {
    @apply bg-white lg:py-2 px-2 md:px-8 items-center justify-between flex flex-row border-b-2 border-b-gray-200 fixed w-[100vw] z-20 h-[100px];
  }
  .btn-kat {
    @apply py-1 px-4 mx-1 border-2 border-slate-800 text-slate-800 hover:bg-slate-800 hover:text-slate-50 rounded-[3px];
  }
}
